In [149]:
#I used public data available from the StockX Data Contest, which provided me with a dataset 
#of 99,956 transactions that occurred between 2017 and 2019. This dataset included two prominent 
#brands, Yeezy and Nike Off-White, as well as over 50 different sneaker styles.

#In an effort to enhance the dataset, I manually gathered information on colorways and the number of sales from 
#the StockX website. Subsequently, I converted style and color information into dummy variables. 

#For my modeling purposes, The "price premium" is calculated as the difference between the sale price of a 
#product (in this case, sneakers) and its original retail price. It represents how much more (or less) a 
#customer is willing to pay for a product compared to its original retail price. In other words, it quantifies 
#the additional amount that buyers are willing to spend, or the markup, above the standard retail cost for a 
#particular product.

#The input variables for my analysis included the number of days since  release, sneaker style, colorway, 
#shoe size, and the number of sales. These variables allowed me to develop models and gain insights into 
#the factors influencing sneaker prices in this market.

In [150]:
import pandas as pd
import pandas as pd
import numpy as np
import datetime
from datetime import date
import matplotlib.pyplot as plt
stockx_data = pd.read_excel("./StockX-Data-Contest-2019.xlsx",sheet_name="Raw Data")

In [151]:
stockx_data

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas

In [152]:
stockx_data['Sneaker Name'].value_counts()

Sneaker Name
adidas-Yeezy-Boost-350-V2-Butter                     11423
Adidas-Yeezy-Boost-350-V2-Beluga-2pt0                10395
Adidas-Yeezy-Boost-350-V2-Zebra                      10110
Adidas-Yeezy-Boost-350-V2-Blue-Tint                   9297
Adidas-Yeezy-Boost-350-V2-Cream-White                 9097
Adidas-Yeezy-Boost-350-V2-Sesame                      5553
adidas-Yeezy-Boost-350-V2-Static                      4983
Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow          4854
Air-Jordan-1-Retro-High-Off-White-University-Blue     4635
adidas-Yeezy-Boost-350-V2-Static-Reflective           3184
Nike-Air-Presto-Off-White-Black-2018                  1884
Nike-Air-Presto-Off-White-White-2018                  1883
Nike-Air-VaporMax-Off-White-2018                      1591
Nike-Blazer-Mid-Off-White-All-Hallows-Eve             1435
Nike-Blazer-Mid-Off-White-Grim-Reaper                 1398
Nike-Zoom-Fly-Off-White-Pink                          1359
Nike-Air-VaporMax-Off-White-Black                     1313
Nike-Zoom-Fly-Off-White-Black-Silver                  1222
Nike-Air-Force-1-Low-Off-White-Volt                   1019
Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017          969
Nike-Air-Force-1-Low-Off-White-Black-White             960
Air-Jordan-1-Retro-High-Off-White-Chicago              755
Nike-Air-Max-90-Off-White-Black                        722
Nike-Zoom-Fly-Mercurial-Off-White-Total-Orange         656
Nike-Air-Max-90-Off-White-Desert-Ore                   649
Nike-Zoom-Fly-Mercurial-Off-White-Black                645
Nike-Air-Max-90-Off-White                              627
Adidas-Yeezy-Boost-350-V2-Core-Black-White             621
Nike-Air-Presto-Off-White                              596
Nike-Air-Max-97-Off-White                              544
Nike-Air-VaporMax-Off-White                            525
Nike-Blazer-Mid-Off-White                              501
Adidas-Yeezy-Boost-350-Low-V2-Beluga                   498
Nike-React-Hyperdunk-2017-Flyknit-Off-White            484
Nike-Air-Force-1-Low-Off-White                         476
Nike-Zoom-Fly-Off-White                                435
Nike-Air-Max-97-Off-White-Menta                        343
Air-Jordan-1-Retro-High-Off-White-White                313
Adidas-Yeezy-Boost-350-V2-Core-Black-Red               302
Nike-Air-Max-97-Off-White-Black                        289
Nike-Blazer-Mid-Off-White-Wolf-Grey                    288
Adidas-Yeezy-Boost-350-V2-Core-Black-Copper            225
Nike-Air-Max-97-Off-White-Elemental-Rose-Queen         216
Adidas-Yeezy-Boost-350-V2-Core-Black-Green             196
Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016           122
Adidas-Yeezy-Boost-350-Low-Moonrock                    100
Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015            95
Adidas-Yeezy-Boost-350-Low-Oxford-Tan                   70
Adidas-Yeezy-Boost-350-Low-Turtledove                   68
Nike-Air-Force-1-Low-Virgil-Abloh-Off-White-AF100       31
Name: count, dtype: int64

In [153]:
stockx_data['Buyer Region'].value_counts()

Buyer Region
California              19349
New York                16525
Oregon                   7681
Florida                  6376
Texas                    5876
New Jersey               4720
Illinois                 3782
Pennsylvania             3109
Massachusetts            2903
Michigan                 2762
Virginia                 2058
Ohio                     1890
Maryland                 1870
Washington               1863
Georgia                  1846
Arizona                  1398
North Carolina           1344
Delaware                 1242
Connecticut              1110
Indiana                  1026
Colorado                  954
Wisconsin                 840
Nevada                    790
Tennessee                 731
Minnesota                 725
Missouri                  660
South Carolina            570
Louisiana                 537
Kentucky                  488
Iowa                      460
Alabama                   457
Utah                      450
Oklahoma                  412
Hawaii                    383
Rhode Island              347
Kansas                    340
District of Columbia      271
Nebraska                  245
New Hampshire             241
New Mexico                231
Arkansas                  173
West Virginia             166
Mississippi               163
Maine                     132
Idaho                     107
Vermont                    84
North Dakota               64
Alaska                     61
South Dakota               55
Montana                    49
Wyoming                    40
Name: count, dtype: int64

In [154]:
color = pd.read_excel("./supplemental_data_colorway.xlsx",sheet_name="Sheet1")

In [155]:
color.head

<bound method NDFrame.head of                                                 Style  Black  White  Grey  \
0                Adidas-Yeezy-Boost-350-Low-V2-Beluga    NaN    NaN   1.0
1         Adidas-Yeezy-Boost-350-V2-Core-Black-Copper    1.0    NaN   NaN
2          Adidas-Yeezy-Boost-350-V2-Core-Black-Green    1.0    NaN   NaN
3            Adidas-Yeezy-Boost-350-V2-Core-Black-Red    1.0    NaN   NaN
4       Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017    1.0    NaN   NaN
5          Adidas-Yeezy-Boost-350-V2-Core-Black-White    1.0    1.0   NaN
6               Adidas-Yeezy-Boost-350-V2-Cream-White    NaN    1.0   NaN
7                     Adidas-Yeezy-Boost-350-V2-Zebra    1.0    1.0   NaN
8                 Adidas-Yeezy-Boost-350-Low-Moonrock    NaN    NaN   1.0
9                           Nike-Air-Max-90-Off-White    NaN    1.0   NaN
10                          Nike-Air-Presto-Off-White    1.0    1.0   NaN
11                        Nike-Air-VaporMax-Off-White    1.0    1.0   NaN
12          Air-Jordan-1-Retro-High-Off-White-Chicago    NaN    1.0   NaN
13                          Nike-Blazer-Mid-Off-White    NaN    1.0   NaN
14       Adidas-Yeezy-Boost-350-Low-Pirate-Black-2016    1.0    NaN   NaN
15              Adidas-Yeezy-Boost-350-Low-Oxford-Tan    NaN    NaN   NaN
16              Adidas-Yeezy-Boost-350-Low-Turtledove    NaN    1.0   1.0
17       Adidas-Yeezy-Boost-350-Low-Pirate-Black-2015    1.0    NaN   NaN
18       Adidas-Yeezy-Boost-350-V2-Semi-Frozen-Yellow    1.0    NaN   NaN
19                     Nike-Air-Force-1-Low-Off-White    NaN    1.0   NaN
20                          Nike-Air-Max-97-Off-White    NaN    1.0   NaN
21  Nike-Air-Force-1-Low-Virgil-Abloh-Off-White-AF100    NaN    1.0   NaN
22        Nike-React-Hyperdunk-2017-Flyknit-Off-White    NaN    1.0   NaN
23                            Nike-Zoom-Fly-Off-White    NaN    1.0   NaN
24              Adidas-Yeezy-Boost-350-V2-Beluga-2pt0    1.0    NaN   1.0
25                Adidas-Yeezy-Boost-350-V2-Blue-Tint    NaN    1.0   1.0
26                   Nike-Air-VaporMax-Off-White-2018    NaN    1.0   NaN
27            Air-Jordan-1-Retro-High-Off-White-White    NaN    1.0   NaN
28                  Nike-Air-VaporMax-Off-White-Black    1.0    NaN   NaN
29  Air-Jordan-1-Retro-High-Off-White-University-Blue    NaN    1.0   NaN
30               Nike-Air-Presto-Off-White-Black-2018    1.0    NaN   NaN
31               Nike-Air-Presto-Off-White-White-2018    NaN    1.0   NaN
32            Nike-Zoom-Fly-Mercurial-Off-White-Black    1.0    NaN   NaN
33     Nike-Zoom-Fly-Mercurial-Off-White-Total-Orange    NaN    NaN   NaN
34                   adidas-Yeezy-Boost-350-V2-Butter    1.0    NaN   NaN
35     Nike-Air-Max-97-Off-White-Elemental-Rose-Queen    NaN    1.0   NaN
36          Nike-Blazer-Mid-Off-White-All-Hallows-Eve    NaN    NaN   NaN
37              Nike-Blazer-Mid-Off-White-Grim-Reaper    1.0    NaN   NaN
38                   Adidas-Yeezy-Boost-350-V2-Sesame    NaN    NaN   1.0
39                Nike-Blazer-Mid-Off-White-Wolf-Grey    NaN    NaN   1.0
40                    Nike-Air-Max-97-Off-White-Menta    NaN    NaN   1.0
41                    Nike-Air-Max-97-Off-White-Black    1.0    NaN   NaN
42               Nike-Zoom-Fly-Off-White-Black-Silver    1.0    NaN   NaN
43                       Nike-Zoom-Fly-Off-White-Pink    NaN    NaN   NaN
44                Nike-Air-Force-1-Low-Off-White-Volt    1.0    NaN   NaN
45         Nike-Air-Force-1-Low-Off-White-Black-White    1.0    NaN   NaN
46                   adidas-Yeezy-Boost-350-V2-Static    NaN    1.0   NaN
47        adidas-Yeezy-Boost-350-V2-Static-Reflective    NaN    1.0   NaN
48                    Nike-Air-Max-90-Off-White-Black    1.0    NaN   NaN
49               Nike-Air-Max-90-Off-White-Desert-Ore    NaN    NaN   NaN

    Red  Green  Neo  Orange  Tan/Brown  Pink  Blue  Colorful  Number of Sales  \
0   NaN    NaN  NaN     1.0        NaN   NaN   NaN       NaN             1857
1   NaN    NaN  NaN     1.0        NaN   NaN   NaN       NaN              560
2   NaN    1.0  NaN     NaN        NaN   NaN   NaN       NaN              520
3   1.0    NaN  NaN     NaN        NaN   NaN   NaN       NaN              808
4   1.0    NaN  NaN     NaN        NaN   NaN   NaN       NaN             2153
5   NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             1180
6   NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN            32555
7   NaN    NaN  NaN     NaN        NaN   NaN   NaN       1.0            35602
8   NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              315
9   NaN    NaN  NaN     NaN        1.0   NaN   1.0       1.0              398
10  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              457
11  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              388
12  1.0    NaN  NaN     NaN        NaN   NaN   NaN       1.0              824
13  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              222
14  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              382
15  NaN    NaN  NaN     NaN        1.0   NaN   NaN       NaN              333
16  NaN    NaN  NaN     NaN        NaN   NaN   NaN       1.0              394
17  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              327
18  NaN    NaN  1.0     NaN        NaN   NaN   NaN       1.0            16227
19  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              263
20  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              347
21  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN               25
22  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              289
23  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              270
24  NaN    NaN  NaN     NaN        NaN   NaN   NaN       1.0             6520
25  NaN    NaN  NaN     NaN        NaN   NaN   NaN       1.0             6235
26  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             1372
27  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              358
28  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             1229
29  NaN    NaN  NaN     NaN        NaN   NaN   1.0       1.0             4597
30  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             2242
31  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             2710
32  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              480
33  NaN    NaN  NaN     1.0        NaN   NaN   NaN       NaN              655
34  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN            10699
35  NaN    NaN  NaN     NaN        NaN   1.0   NaN       1.0              211
36  NaN    NaN  NaN     1.0        NaN   NaN   NaN       1.0             1613
37  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             1772
38  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN            16824
39  NaN    NaN  NaN     NaN        NaN   1.0   NaN       1.0              337
40  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              868
41  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN              318
42  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             2579
43  NaN    NaN  NaN     NaN        NaN   1.0   NaN       NaN             2871
44  NaN    NaN  1.0     NaN        NaN   NaN   NaN       NaN             2458
45  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             2312
46  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN            15261
47  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             6085
48  NaN    NaN  NaN     NaN        NaN   NaN   NaN       NaN             4590
49  NaN    NaN  NaN     NaN        1.0   NaN   NaN       NaN             4273

                                              Website       Product Line
0   https://stockx.com/adidas-yeezy-boost-350-v2-s...       Adidas Yeezy
1   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
2   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
3   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
4   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
5   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
6   https://stockx.com/adidas-yeezy-boost-350-v2-c...       Adidas Yeezy
7   https://stockx.com/adidas-yeezy-boost-350-v2-w...       Adidas Yeezy
8   https://stockx.com/adidas-yeezy-boost-350-moon...       Adidas Yeezy
9        https://stockx.com/nike-air-max-90-off-white       Nike Air Max
10  https://stockx.com/nike-air-presto-off-white?u...    Nike Air Presto
11     https://stockx.com/nike-air-vapormax-off-white  Nike Air VaporMax
12  https://stockx.com/air-jordan-1-retro-high-off...    Nike Air Jordan
13       https://stockx.com/nike-blazer-mid-off-white        Nike Blazer
14  https://stockx.com/adidas-yeezy-boost-350-pira...       Adidas Yeezy
15  https://stockx.com/adidas-yeezy-boost-350-oxfo...       Adidas Yeezy
16  https://stockx.com/adidas-yeezy-boost-350-turt...       Adidas Yeezy
17  https://stockx.com/adidas-yeezy-boost-350-pira...       Adidas Yeezy
18  https://stockx.com/adidas-yeezy-boost-350-v2-s...       Adidas Yeezy
19  https://stockx.com/nike-air-force-1-low-off-white     Nike Air Force
20       https://stockx.com/nike-air-max-97-off-white       Nike Air Max
21  https://stockx.com/nike-air-force-1-low-virgil...     Nike Air Force
22  https://stockx.com/nike-react-hyperdunk-2017-f...         Nike React
23  https://stockx.com/nike-zoom-fly-off-white?utm...          Nike Zoom
24  https://stockx.com/adidas-yeezy-boost-350-v2-b...       Adidas Yeezy
25  https://stockx.com/adidas-yeezy-boost-350-v2-b...       Adidas Yeezy
26  https://stockx.com/nike-air-vapormax-off-white...  Nike Air VaporMax
27  https://stockx.com/air-jordan-1-retro-high-off...       Air Jordan 1
28  https://stockx.com/nike-air-vapormax-off-white...  Nike Air VaporMax
29  https://stockx.com/air-jordan-1-retro-high-off...       Air Jordan 1
30  https://stockx.com/nike-air-presto-off-white-b...    Nike Air Presto
31  https://stockx.com/nike-air-presto-off-white-w...    Nike Air Presto
32  https://stockx.com/nike-zoom-fly-mercurial-off...          Nike Zoom
33  https://stockx.com/nike-zoom-fly-mercurial-off...          Nike Zoom
34  https://stockx.com/adidas-yeezy-boost-350-v2-b...       Adidas Yeezy
35  https://stockx.com/nike-air-max-97-off-white-e...       Nike Air Max
36  https://stockx.com/nike-blazer-mid-off-white-a...        Nike Blazer
37  https://stockx.com/nike-blazer-mid-off-white-g...        Nike Blazer
38  https://stockx.com/adidas-yeezy-boost-350-v2-s...       Adidas Yeezy
39  https://stockx.com/nike-blazer-mid-off-white-w...        Nike Blazer
40  https://stockx.com/nike-air-max-97-off-white-m...       Nike Air Max
41  https://stockx.com/nike-air-max-97-off-white-b...       Nike Air Max
42  https://stockx.com/nike-zoom-fly-off-white-bla...          Nike Zoom
43    https://stockx.com/nike-zoom-fly-off-white-pink          Nike Zoom
44  https://stockx.com/nike-air-force-1-low-off-wh...     Nike Air Force
45  https://stockx.com/nike-air-force-1-low-off-wh...     Nike Air Force
46  https://stockx.com/adidas-yeezy-boost-350-v2-s...       Adidas Yeezy
47  https://stockx.com/adidas-yeezy-boost-350-v2-s...       Adidas Yeezy
48  https://stockx.com/nike-air-max-90-off-white-b...       Nike Air Max
49  https://stockx.com/nike-air-max-90-off-white-d...       Nike Air Max  >

In [156]:
# --- Data Cleaning ---
# calculate price premium: (sale price - retail price)/retail price
stockx_data["Price_Percentage_change"] = (stockx_data['Sale Price'] - stockx_data['Retail Price'])/stockx_data['Retail Price']

# calculate days since release: order data - release date
stockx_data["Days_Since_Release"] = (pd.to_datetime(stockx_data['Order Date']) - pd.to_datetime(stockx_data['Release Date']))/np.timedelta64('1','D')

# --- style variables ---
# style: v2
stockx_data["yeezy"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Yeezy' in x.split("-") else 0)
# style: airjordan
stockx_data["airjordan"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Jordan' in x.split("-") else 0)
# style: airforce
stockx_data["airforce"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Force' in x.split("-") else 0)
# style: airmax90
stockx_data["airmax90"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if '90' in x.split("-") else 0)
# style: airmax97
stockx_data["airmax97"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if '97' in x.split("-") else 0)
# style: presto
stockx_data["presto"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Presto' in x.split("-") else 0)
# style: vapormax
stockx_data["vapormax"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'VaporMax' in x.split("-") else 0)
# style: blazer
stockx_data["blazer"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Blazer' in x.split("-") else 0)
# style: zoom
stockx_data["zoom"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'Zoom' in x.split("-") else 0)
# style: zoom
stockx_data["react"] = stockx_data['Sneaker Name'].apply(lambda x : 1 if 'React' in x.split("-") else 0)

# --- state variables ---
# creating the california variable
stockx_data["California"] = stockx_data["Buyer Region"].apply(lambda x : 1 if 'California' in x else 0)
# creating the new_york variable
stockx_data["New York"] = stockx_data["Buyer Region"].apply(lambda x : 1 if 'New York' in x else 0)
# creating the oregon variable
stockx_data["Oregon"] = stockx_data["Buyer Region"].apply(lambda x : 1 if 'Oregon' in x else 0)
# creating the florida variable
stockx_data["Florida"] = stockx_data["Buyer Region"].apply(lambda x : 1 if 'Florida' in x else 0)
# creating the texas variable
stockx_data["Texas"] = stockx_data["Buyer Region"].apply(lambda x : 1 if 'Texas' in x else 0)
# creating the other_state variable
above5pct_states = ["California", "New York", "Oregon", "Florida", "Texas"]
stockx_data["Other States"] = pd.Series(list(map(int,~stockx_data["Buyer Region"].isin(above5pct_states))))

In [157]:
stockx_data

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Price_Percentage_change,Days_Since_Release,...,vapormax,blazer,zoom,react,California,New York,Oregon,Florida,Texas,Other States
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,3.986364,342.0,...,0,0,0,0,1,0,0,0,0,0
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,2.113636,282.0,...,0,0,0,0,1,0,0,0,0,0
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,2.136364,282.0,...,0,0,0,0,1,0,0,0,0,0
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,3.886364,282.0,...,0,0,0,0,0,0,0,0,0,1
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,2.763636,202.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon,1.568182,49.0,...,0,0,0,0,0,0,1,0,0,0
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California,1.718182,49.0,...,0,0,0,0,1,0,0,0,0,0
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York,1.750000,49.0,...,0,0,0,0,0,1,0,0,0,0
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California,1.954545,49.0,...,0,0,0,0,1,0,0,0,0,0
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas,1.909091,49.0,...,0,0,0,0,0,0,0,0,1,0

In [158]:
stockx_data = stockx_data.merge(color, left_on = 'Sneaker Name', right_on = 'Style', how = 'left')

In [159]:
stockx_data

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Price_Percentage_change,Days_Since_Release,...,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Number of Sales,Website,Product Line
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,3.986364,342.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1857,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,2.113636,282.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,560,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,2.136364,282.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,520,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,3.886364,282.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,808,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,2.763636,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2153,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon,1.568182,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California,1.718182,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York,1.750000,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California,1.954545,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas,1.909091,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy

In [160]:
stockx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order Date               99956 non-null  datetime64[ns]
 1   Brand                    99956 non-null  object
 2   Sneaker Name             99956 non-null  object
 3   Sale Price               99956 non-null  float64
 4   Retail Price             99956 non-null  int64
 5   Release Date             99956 non-null  datetime64[ns]
 6   Shoe Size                99956 non-null  float64
 7   Buyer Region             99956 non-null  object
 8   Price_Percentage_change  99956 non-null  float64
 9   Days_Since_Release       99956 non-null  float64
 10  yeezy                    99956 non-null  int64
 11  airjordan                99956 non-null  int64
 12  airforce                 99956 non-null  int64
 13  airmax90                 99956 non-null  int64
 14  airmax97                 99956 non-null  int64
 15  presto                   99956 non-null  int64
 16  vapormax                 99956 non-null  int64
 17  blazer                   99956 non-null  int64
 18  zoom                     99956 non-null  int64
 19  react                    99956 non-null  int64
 20  California               99956 non-null  int64
 21  New York                 99956 non-null  int64
 22  Oregon                   99956 non-null  int64
 23  Florida                  99956 non-null  int64
 24  Texas                    99956 non-null  int64
 25  Other States             99956 non-null  int64
 26  Style                    99956 non-null  object
 27  Black                    49885 non-null  float64
 28  White                    50972 non-null  float64
 29  Grey                     26542 non-null  float64
 30  Red                      2026 non-null   float64
 31  Green                    196 non-null    float64
 32  Neo                      5873 non-null   float64
 33  Orange                   2814 non-null   float64
 34  Tan/Brown                1346 non-null   float64
 35  Pink                     1863 non-null   float64
 36  Blue                     5262 non-null   float64
 37  Colorful                 42680 non-null  float64
 38  Number of Sales          99956 non-null  int64
 39  Website                  99956 non-null  object
 40  Product Line             99956 non-null  object
dtypes: datetime64[ns](2), float64(15), int64(18), object(6)
memory usage: 31.3+ MB

In [162]:
# drop columns that have been coded
# keep retail and sales prices for further analysis
# stockx_data = stockx_data.drop(columns = ['Retail Price','Order Date', 'Brand','Sneaker Name', 'Release Date', 'Buyer Region',
#                                          'Website', 'Product Line', 'Style','weeknum', 'Nike Air Force', 'Adidas Yeezy', 
#                                           'Nike Air Max', 'Nike Zoom','Nike Air VaporMax', 'Nike Blazers', 'Air Jordan', 
#                                           'Nike React','Nike Presto'])
stockx_data = stockx_data.drop(columns = ['Order Date', 'Brand','Sneaker Name', 'Release Date', 'Buyer Region',
                                         'Website', 'Product Line', 'Style'])

In [163]:
stockx_data

,Sale Price,Retail Price,Shoe Size,Price_Percentage_change,Days_Since_Release,yeezy,airjordan,airforce,airmax90,airmax97,...,Grey,Red,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Number of Sales
0,1097.0,220,11.0,3.986364,342.0,1,0,0,0,0,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1857
1,685.0,220,11.0,2.113636,282.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,560
2,690.0,220,11.0,2.136364,282.0,1,0,0,0,0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,520
3,1075.0,220,11.5,3.886364,282.0,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,808
4,828.0,220,11.0,2.763636,202.0,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,565.0,220,8.0,1.568182,49.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085
99952,598.0,220,8.5,1.718182,49.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085
99953,605.0,220,5.5,1.750000,49.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085
99954,650.0,220,11.0,1.954545,49.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085
99955,640.0,220,11.5,1.909091,49.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6085

In [164]:
# turn all the nan value to the 0
stockx_data = stockx_data.fillna(0)

In [165]:
stockx_data

,Sale Price,Retail Price,Shoe Size,Price_Percentage_change,Days_Since_Release,yeezy,airjordan,airforce,airmax90,airmax97,...,Grey,Red,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Number of Sales
0,1097.0,220,11.0,3.986364,342.0,1,0,0,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1857
1,685.0,220,11.0,2.113636,282.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,560
2,690.0,220,11.0,2.136364,282.0,1,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,520
3,1075.0,220,11.5,3.886364,282.0,1,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,808
4,828.0,220,11.0,2.763636,202.0,1,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,565.0,220,8.0,1.568182,49.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085
99952,598.0,220,8.5,1.718182,49.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085
99953,605.0,220,5.5,1.750000,49.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085
99954,650.0,220,11.0,1.954545,49.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085
99955,640.0,220,11.5,1.909091,49.0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085

In [166]:
stockx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sale Price               99956 non-null  float64
 1   Retail Price             99956 non-null  int64
 2   Shoe Size                99956 non-null  float64
 3   Price_Percentage_change  99956 non-null  float64
 4   Days_Since_Release       99956 non-null  float64
 5   yeezy                    99956 non-null  int64
 6   airjordan                99956 non-null  int64
 7   airforce                 99956 non-null  int64
 8   airmax90                 99956 non-null  int64
 9   airmax97                 99956 non-null  int64
 10  presto                   99956 non-null  int64
 11  vapormax                 99956 non-null  int64
 12  blazer                   99956 non-null  int64
 13  zoom                     99956 non-null  int64
 14  react                    99956 non-null  int64
 15  California               99956 non-null  int64
 16  New York                 99956 non-null  int64
 17  Oregon                   99956 non-null  int64
 18  Florida                  99956 non-null  int64
 19  Texas                    99956 non-null  int64
 20  Other States             99956 non-null  int64
 21  Black                    99956 non-null  float64
 22  White                    99956 non-null  float64
 23  Grey                     99956 non-null  float64
 24  Red                      99956 non-null  float64
 25  Green                    99956 non-null  float64
 26  Neo                      99956 non-null  float64
 27  Orange                   99956 non-null  float64
 28  Tan/Brown                99956 non-null  float64
 29  Pink                     99956 non-null  float64
 30  Blue                     99956 non-null  float64
 31  Colorful                 99956 non-null  float64
 32  Number of Sales          99956 non-null  int64
dtypes: float64(15), int64(18)
memory usage: 25.2 MB